@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600;700&display=swap');

@font-face {
  font-family: Smoothie;
  src: url(fonts/smoothie-font.ttf);
}

/* TYPOGRAPHY */

h2, h3, h4, h5 {
	font-family: 'Josefin Sans', arial, sans-serif;
}

h1 {
	font-family: 'Smoothie';
	font-size: 76px;
	text-align: center;
	color: #47413e;
}

p, li, a {
	font-family: 'Josefin Sans', arial, sans-serif;
	font-weight: 300;
}

.heavy {
	font-weight: 600;
}

.light {
	font-weight: 300;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/* HEADER STYLES */

header.site-header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.site-header {
		background-color: #e3e1e0;
}

.main-navigation ul li a {
	color: #47413e;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 300;
}

.site-header h1 {
	font-size: 48px;
}

.main-navigation ul {
	display: flex;
	list-style: none;
	margin-bottom: 0;
}

.main-navigation ul li {
	margin-right: 14px;
	margin-left: 14px;
}

/* TITLE SECTION */

.title {
	min-height:  400px;
	background-color: #e3e1e0;
	padding: 50px 100px 50px 100px;
	color: #47413e;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title h2 {
	font-size: 84px;
	font-weight: 400;
	font-family: 'Smoothie';
}

.title ul {
	display: flex;
	list-style: none;
	margin-bottom: 0;
	font-size: 24px;
}

.title ul li {
	margin-right: 14px;
	margin-left: 14px;
}


/* WRITING & EDITING */

.writing-editing img {
	width: 100%;
	height: 387px;
	object-fit: cover;
	padding-bottom: 35px;
}

.writing-editing h1 {
	font-family: 'Smoothie';
	font-size: 76px;
	text-align: center;
	color: #47413e;
}

.writing-editing {
	background-color: #9eaea3;
	background-size: 100%;
	padding: 50px 100px 50px 100px;
}

.project h3 {
	text-align: center;
}

.row {
	margin-bottom: 32px;
}

.project-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
	background: rgba(69,49,75,0.75);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: none;
}

.project:hover .project-overlay {
	opacity: 1;
	visibility: visible;
	height: 500px;
}

/* RESEARCH */

.research img {
	width: 100%;
	height: 387px;
	object-fit: cover;
	padding-bottom: 35px;
}

.research h1 {
	font-family: 'Smoothie';
	font-size: 76px;
	text-align: center;
	color: #47413e;
}

.research {
	background-color: #e3e1e0;
	background-size: 100%;
	padding: 50px 100px 50px 100px;
}

.research h3 {
	text-align: center;
	color: #47413e;
}

.row {
	margin-bottom: 32px;
}



/* BTN STYLES */

.btn-primary {
	background: #414a44;
	border-radius: 0;
	border: none;
	width: 200px;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-style: 'Josephin Sans';
	font-size: 22px;
	font-weight: 300;
	color: #fffdf6;
}

.btn-secondary {
	background: #45314b;
	border-radius: 0;
	border: none;
	width: 200px;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-style: 'Josephin Sans';
	font-size: 22px;
	font-weight: 300;
	color: #fffdf6;
}

.btn:hover {
	background: #47413e;
}

/* RESUME SECTION STYLES */

.resume-section {
	background-color: #9eaea3;
	background-size: 100%;
	padding: 50px 100px 50px 100px;
}


/* FOOTER STYLES */

.site-footer {
	background-color: #45314b;
	color: #fffdf6;
	padding: 32px;
	min-height: 150px;
}

.site-footer h3 {
	font-size: 18px;
}

.site-footer p {
	font-size: 14px;
}

.social-icons {
	display: flex;
}

.social-icons img {
	width: 28px;
	height: auto;
	margin-right: 16px;
}





















